<% title "New Job" %>
<% subtitle "task: #{resource.task}" %>
<% breadcrumb "Projects", projects_path %>
<% breadcrumb parent, parent %>

<%= simple_form_for resource, :url => [parent, resource], :html => { :class => 'form-horizontal' } do |f| %>

  <div class="control-group">
    <label class="control-label">Task</label>
    <div class="controls">
      <span class="input-xlarge uneditable-input"><%= resource.task %></span>
      <%= f.hidden_field :task %>
    </div>
  </div>

  <%- if parent.cap.namespaces.keys.include?(:multistage) -%>
    <%= f.input :stage, :as => :select, :collection => parent.cap.stages, :include_blank => false %>
  <%- end -%>
  <%= f.input :branch, :collection => [ [:tags, parent.target_repo.tags], [:branchs, parent.target_repo.branches] ], :group_label_method => :first, :group_method => :last, :as => :grouped_select, :include_blank => false %>

  <%= f.input :notes, :input_html => { :class => "span8", :rows => 5, :style => "height:80px;" } %>

  <div class="control-group">
    <label class="control-label" for="job_notes">Verbosity</label>
    <div class="controls">
      <div id="slider"></div>
    </div>
  </div>
  <%= f.input :verbosity, :as => :hidden %>

  <div class="form-actions">
    <%= f.button :submit, 'Start Task', :disable_with => "Starting task..." %>
    <%= f.button :cancel, :url => parent_path %>
  </div>

<%- end %>
