<% title "New Job" %>
<% subtitle "task: #{resource.task}" %>
<% breadcrumb "Projects", projects_path %>
<% breadcrumb parent, parent %>

<%= simple_form_for resource, :url => [parent, resource] do |f| %>

  <div class="clearfix">
    <label>Task</label>
    <div class="input">
      <span class="uneditable-input"><%= resource.task %></span>
      <%= f.hidden_field :task %>
    </div>
  </div>
  
  <%- if parent.cap.namespaces.keys.include?(:multistage) -%>
    <%= f.input :stage, :as => :select, :collection => parent.cap.stages, :include_blank => false %>
  <%- end -%>
  
  <%= f.input :notes, :input_html => { :class => "span8", :rows => 5, :style => "height:80px;" } %>

  <div class="clearfix text optional">
    <label class="text optional" for="job_notes">Verbosity</label>
    <div class="input">
      <div id="slider"></div>
    </div>
  </div>
  <%= f.input :verbosity, :as => :hidden %>

  <div class="actions">
    <%= f.button :submit, :class => 'primary' %>
    <%= button_tag 'Cancel', :type => :reset, :class => "btn" %>
  </div>

<%- end %>