<% if @project_cap_error %>
  <div class="alert alert-error alert-block">
    <a class="close" data-dismiss="alert">×</a>
    <h4 class="alert-heading">Warning!</h4>
    Strano cannot currently run any tasks until the following issue is resolved.
    <%= @project_cap_error %>
  </div>
<% end %>

<div class="row">
  <div class="span3 right">

    <p>Description</p>
    <p>Repository</p>
    <%- if resource.organization? -%><p>Organization</p><%- end -%>

  </div>
  <div class="span9">

    <p><strong><%= resource.description.blank? ? '&nbsp;'.html_safe : resource.description %></strong></p>
    <p><%= link_to resource.html_url, resource.html_url %></p>
    <%- if resource.organization? -%>
      <p><%= link_to resource.organization.login, "https://github.com/#{resource.organization.login}" %></p>
    <%- end -%>

  </div>
</div>

<hr />

<div class="row">
  <div class="span3 right">
    <p class="quiet">Latest task:</p>
    <p class="quiet">Local repo updated:</p>
  </div>
  <div class="span9">
    <p>
      <%- if last_run = resource.jobs.first -%>
        <%= link_to last_run.task, [resource, last_run] %> by <%= last_run.user %>
        &nbsp;&nbsp;&nbsp;
        <span class="quieter small">
          <%= time_ago_in_words last_run.created_at %> ago
          <span class="small padding-left">(<%= last_run.created_at.to_s :short %>)</span>
        </span>
      <%- else -%>
        <code class="no-bg">n/a</code>
      <%- end -%>
    </p>
    <p id="repo-update">
      <%- if resource.pulled_at -%>
        <abbr class="timeago" title="<%= resource.pulled_at.iso8601 %>"><%= resource.pulled_at %></abbr>
      <%- else -%>
        <code class="no-bg">n/a</code>
      <%- end -%>

      &nbsp;&nbsp;<%= link_to 'update now!', [:pull, resource], :class => "small", :remote => true %>
    </p>
  </div>
</div>

<hr />

<div class="row">
  <div class="span3 right">
    <p class="quieter small">Created:</p>
    <p class="quieter small">Updated:</p>
  </div>
  <div class="span9">
    <p class="quieter small"><%= resource.created_at.to_s :long_ordinal %></p>
    <p class="quieter small"><%= resource.updated_at.to_s :long_ordinal %></p>
  </div>
</div>
