<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Strano</title>
  
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" href="/">STRANO</a>
        <ul class="nav">
          <!-- <li class="<%= 'active' if controller_name == 'dashboard' %>"><a href="/">Dashboard</a></li> -->
          <li class="<%= 'active' if controller_name == 'projects' %>"><a href="/projects">Projects</a></li>
        </ul>
        
        <div class="pull-right">
          <%- if user_signed_in? -%>
            <div id="user_display_bar">
              <span><%= current_user %></span>
              <%= image_tag current_user.avatar_url, :size => "28x28" %>
            </div>
          <%- else -%>
            <span><%= link_to 'Sign in via Github', user_omniauth_authorize_path(:github) %></span>
          <%- end -%>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    
    <%= render_breadcrumbs %>

    <div class="page-header">
      <h1>
        <%= @title_for_content if show_title? %>
        <%- if show_subtitle? -%>
          <small>&nbsp;&nbsp;<%= @subtitle_for_content %></small>
        <%- end -%>
      </h1>
    </div>
      
    <%- if notice -%>
      <div class="alert-message success fade in">
        <a class="close" href="#">×</a>
        <%= notice %>
      </div>
    <%- end -%>
    
    <%- if alert -%>
      <div class="alert-message error fade in">
        <a class="close" href="#">×</a>
        <%= alert %>
      </div>
    <%- end -%>
    
    <%= yield %>

    <footer>
      <div class="row">
        <div class="span8">
          Strano: Piss easy deployment! // &copy; <%= link_to 'Develop with Style', 'http://developwithstyle.com' %>. <%= Date.today.year %>
        </div>
        <div class="span8 right">
          <%- if user_signed_in? -%>
            Signed in via <%= link_to 'Github', current_user.html_url %> as <%= current_user %> //
            <%= link_to 'sign out', destroy_user_session_path, :method => :delete, :confirm => "Are you sure you want to sign out?" %>
          <%- end -%>
        </div>
      </div>
    </footer>

  </div>

</body>
</html>
